<settings>
	<category label="Options">
	<setting id="langType" type="labelenum" label="Select Language" values="All|Hindi|English|Kannada|Tamil|Telugu|Malayalam|Marathi|Bengali|Odiya|Russian|Gujarati|Arabic|Others" default="Hindi"/>
	<setting id="tvsortType" type="labelenum" label="TV Shows sorting" values="Default|Name" default="Default" />
	<setting id="moviessortType" type="labelenum" label="Movies sorting" values="Default|Name" default="Default" />
	<setting id = "ipaddress" label="ipaddress test" type="ipaddress" default="0.0.0.0" />
	</category>
</settings>